.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('https://cdn.pixabay.com/photo/2022/11/21/09/42/success-7606511_1280.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form_container {
	width: 400px;
	padding: 10px;
	background-color: #b07742;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #abb5b3;
	margin: 5px 0;
	font-size: 14px;
}

.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(142, 161, 201);
	color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin: 10px auto;
}

.error_msg,
.success_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.success_msg {
	background-color: #5cdd5c;
}
